.PaletteCard {
  font-family: $font-light;
  padding-bottom: 15px;

  .palette-name {
    margin: 0;
    text-align: left;
  }

  .palette-container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  .palette {
    border: 2px solid black;
    display: flex;
    height: 50px;
    width: 100%;
  }

  .palette-box {
    width: 20%;
    cursor: pointer;
  }

  .delete-palette-button {
    background: url(../images/delete.svg);
    background-size: cover;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    font-family: $font-light;
  }
}
